@font-face {
    font-family: "clash display variable";
    src: url(./fonts/ClashDisplay-Variable.ttf) format("truetype");
}

body {
    font-family: "clash display variable";
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;

    .heading {
        font-size: 1.4rem;
        padding: 8px 16px;
        width: 16vw;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black
    }

    .active {
        background: black;
        color: white;
    }

    .unactive {
        background: white;
        color: black;
    }
}


.menContainer {

    .men {
        font-size: 1rem;

        height: 5vh;
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0px 0px 1px #000;
            height: 100%;
        }

        .rank {
            width: 5vw;
        }

        .name {
            width: 18vw;
        }

        .country {
            width: 12vw;
        }

        .score {
            width: 5vw;
        }
    }

    .unactive {
        display: none;
    }
}


.womenContainer {


    .women {
        font-size: 1rem;

        height: 5vh;
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0px 0px 1px #000;
            height: 100%;
        }

        .rank {
            width: 5vw;
        }

        .name {
            width: 18vw;
        }

        .country {
            width: 12vw;
        }

        .score {
            width: 5vw;
        }
    }

    .unactive {
        display: none;
    }
}