<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script defer src="../static/homejavas.js" type="module"></script>
    <link rel="stylesheet" href="../static/homestyles.css" />
</head>

<body>
    <h1 class="title">HedgePro</h1>
    <form action="/" method="POST">
        <div class="input_class">
            <input type="text" name="player_name" placeholder="Player Name" 
            id="player_name_input" autocomplete="off">
            <ul class="suggestions">
            </ul>
        </div>
    </form>

    <div class="rankedplayers">Ranked Players</div>

    <div class="heading">Today's Matches</div>
    {% for row in rows %}

    {% if row[-1] == "header" %}

    <div class="header">
        {% for i in range(11) %}
        
        <div class="col">{{row[i]}}</div>

        {% endfor %}
    </div>

    {% endif %}
    
    {% if row[-1] != "header" %}

    <div class="row">

        {% for col in row %}

        <div class="col">{{col}}</div>

        {% endfor %}

    </div>

    {% endif %}

    {% endfor %}
</body>

</html>