<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Matches</title>
    <script defer src="{{url_for('static', filename='rankedplayers.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='rankedplayers.css')}}">
</head>
<body>
    
    <div class="tabs">
        <div class="menTab heading active">Men Rankings</div>
        <div class="womenTab heading unactive">Women Rankings</div>
    </div>
    <div class="menContainer">
        
        {% for name in men_data %}
        
        <div class="men">
            <div class="rank">{{name[0]}}</div>
            <div class="name">{{name[1]}}</div>
            <div class="country">{{name[2]}}</div>
            <div class="score">{{name[3]}}</div>
        </div>
        
        {% endfor %}
    </div>
    
    <div class="womenContainer">
        {% for name in female_data %}
    
        <div class="women unactive">
            <div class="rank">{{name[0]}}</div>
            <div class="name">{{name[1]}}</div>
            <div class="country">{{name[2]}}</div>
            <div class="score">{{name[3]}}</div>
        </div>
    
        {% endfor %}
    </div>
</body>
</html>